<div>
  <h2> Full Stack Product Engineering (immersive)</h2>

  <div class="logos">
    <img src= "../../../assets/programImages/angular-js-logo.png">
    <img src= "../../../assets/programImages/reactLogo.png">
    <img src= "../../../assets/programImages/mongoDB.png">
    <img src= "../../../assets/programImages/node.png">
    <img src= "../../../assets/programImages/HTML.png">
    <img src= "../../../assets/programImages/javascript.png">
    <img src= "../../../assets/programImages/bower.png">
    <img src= "../../../assets/programImages/jquery.gif">
    <img src= "../../../assets/programImages/npm.png">
    <img src= "../../../assets/programImages/webpack.png">
    <img src= "../../../assets/programImages/neo4j_logo.png">


  </div>

  <div class="container fullStackContent">
    <div class="contentLeft">
      A full-time, immersive, product development based program. Designed to produce full stack engineers for digital or product engineering.
    </div>
  <!-- </div> -->

  <!-- <br> -->

        <div class="flex-container-main">

          <div class="flex-item-main">
            <h3> Immersive programs </h3>
            <div>
              These programs are apprenticeship approach based on product development. Participants gain the experience of working on real product working in real environment and solve real non-trivial problems and learn from real practitioners.
            </div>
          </div>
        </div>

  <!-- <div class= "container"> -->
    <div>
      <h3 class="techStackHeading"> Tech Stack </h3>

      <div class="container flex-container">

        <!-- Flex-items -->
        <!--  card-1 for Immersive Program -->
          <div class="flex-item">
            <h4 class= "flexItemHeading">  MEAN/MERN tech stacks </h4>
                <p>
                  The JavaScript full-stack : NodeJS, AngularJS or ReactJS, ExpressJS, Seneca, MongoDB, Cassandra, Redis and/or Neo4J
                </p>
          </div>
          <div class="flex-item">
            <h4 class= "flexItemHeading"> Java microservices + Angular/React </h4>
              <p>
                The Java microservices full-stack : Microservices built with Spring with JavaScript clients built using AngularJS or ReactJS with MongoDB, Cassandra, Redis and/or Neo4J
              </p>
          </div>
        </div>

    </div>

    <!-- $$$$$$ -->

      <ul class= "list">
        <li>
          <h4> Time </h4>
          <p>- 12 weeks, Full time </p>
          <p>- Off Wipro premise </p>
        </li>
        <li>
          <h4> Suitable For </h4>
          <p> Fresh Talent </p>
        </li>
      </ul>

    <!-- $$$$$$ -->

    <!-- @@@@@@@@ -->


    <div class= "flowDiv">
       <!-- <p class= "programFlowHeading"> Program Flow </p> -->
       <img src= "../../../assets/programImages/immersiveProgramFlow.PNG">
    </div>

      <!--
      <div>
       <div class= " flex-flow-container">

          <div class= " flex-flow-item ">
             <div class= "circle ">  Week 1-2
             </div>

               <ul class= "programFlowList">
                 <li> Bootstrap Weeks </li>
                 <li> Individual Work </li>
                 <li> One-Page Apps </li>
                 <li> Minimal Dynamism </li>
               </ul>
          </div>
          <div class= " flex-flow-item ">
             <div class= "circle ">  Week 3-5
             </div>

             <ul class= "programFlowList">
               <li> Dynamic Data </li>
               <li> Full-Stack Apps </li>
               <li> Working in Teams </li>
               <li> Automation and Version Control </li>
             </ul>

          </div>
          <div class= " flex-flow-item ">
             <div class= "circle ">  Week 6
             </div>

             <ul class= "programFlowList">
               <li> Work in Pressure </li>
               <li> Discipline </li>
               <li> No Release Without Test Coverage </li>
             </ul>

          </div>
          <div class= " flex-flow-item ">
             <div class= "circle ">  Week 7
             </div>

             <ul class= "programFlowList">
               <li> Release V1 of the project </li>
               <li> A Complete Experience </li>
             </ul>

          </div>
          <div class= " flex-flow-item ">
             <div class= "circle ">  Week 8-11
             </div>

             <ul class= "programFlowList">
               <li> Code Refactoring </li>
               <li> code Refining </li>
               <li> Intense Completion of Functionality </li>
             </ul>

          </div>
          <div class= " flex-flow-item ">
             <div class= "circle ">  Week 12
             </div>

             <ul class= "programFlowList">
               <li> Interactions with Industry </li>
               <li> Show-Case Time </li>
             </ul>

          </div>
        </div>

      </div> -->

    <!-- @@@@@@@ -->

  </div>
</div>
