<div>
  <h2> Java full stack (immersive)</h2>

  <div class="logos">
    <img src= "../../../assets/programImages/angular-js-logo.png">
    <img src= "../../../assets/programImages/reactLogo.png">
    <img src= "../../../assets/programImages/hibernate.png">
    <img src= "../../../assets/programImages/mongoDB.png">
    <img src= "../../../assets/programImages/node.png">
    <img src= "../../../assets/programImages/eclipseLogo.png">
    <img src= "../../../assets/programImages/HTML.png">
    <img src= "../../../assets/programImages/spring.png">
    <img src= "../../../assets/programImages/javascript.png">
    <img src= "../../../assets/programImages/neo4j_logo.png">
    <img src= "../../../assets/programImages/javaLogo.png">
    <img src= "../../../assets/programImages/springboot.png">
  </div>

  <div class="container fullStackContent">
    <div class="contentLeft">
      A full-time immersive program that builds machine learning programmers with a focus on language processing and automation.
    </div>

    <div class="flex-container-main">

      <div class="flex-item-main">
        <h3> Immersive programs </h3>
        <div>
          These programs are apprenticeship approach based on product development. Participants gain the experience of working on real product working in real environment and solve real non-trivial problems and learn from real practitioners.
        </div>
      </div>
    </div>

    <div>
      <h3 class="techStackHeading"> Tech Stack </h3>

      <div class="container flex-container">

        <!-- Flex-items -->
        <!--  card-1 for Immersive Program -->
          <div class="flex-item">
            <h4 class= "flexItemHeading">  Frontend, Database and Testing </h4>
                <p>
                   HTML 5, Semantic HTML, CSS 3, Bootstrap,  JavaScript, TypeScript, Angular 2, Angular Material, MySQL, MongoDB, Neo4J, Redis, Jasmine, Karma, Junit
                </p>
          </div>
          <div class="flex-item">
            <h4 class= "flexItemHeading"> Server-side Layer  </h4>
              <p>
              Java 8, Java Functional Programming, GoF Design Patterns, Spring Boot, Spring Core, Spring RESTful Web Service,  Spring Data, JPA with Hibernate, Spring Security, Spring Cloud with Distributed Microservice, Spring Integration Maven
              </p>
          </div>
        </div>

    </div>

      <!-- <div class= "listDiv"> -->
        <ul class= "list">
          <li>
            <h4> Time </h4>
            <p> 10-12 weeks, Full time </p>
            <p> Off Wipro premise </p>
          </li>
          <li>
            <h4> Suitable For </h4>
            <p> Programmers with aptitude for math </p>
          </li>
        </ul>
      <!-- </div> -->

  </div>
</div>
