<div class="footer-wrapper">
	<div class="container">
		<div class="col-md-4 col-sm-4">
			Wipro Digital @ 2017 |  All Rights Reserved
		</div>

		<div class="col-md-4 col-sm-4"  align="center">
			<a href="#">
				<img src="assets/footer/fb.png"  alt="fb" width="25px" height="25px">
			</a>
			<a href="#">
				<img src="assets/footer/twitter.png" style="margin-left:3%;" alt="twitter" width="25px" height="25px">
			</a>
			<a href="#">
				<img src="assets/footer/linkedin.png" style="margin-left:3%;" alt="linkedin" width="25px" height="25px">
			</a>
		</div>


		<div class="col-md-4 col-sm-4" align="center">
			<a href="#">
				Privacy Policy
			</a>
		</div>
	</div>
</div>
