<div class="showcase-wrapper">
	<div class="intro" align="center">
		<p  class="showcase-hero">Products we built</p>
		<div class="container">
			<p>At the Digital Academy, we nurture top quality digital product and service engineers. Here, learning happens by building and deploying real projects, to create unique product and service experiences. These experiences directly address the challenges and needs of our clients and consumers respectively, and this is core to the Digital Academy. These are some of our best outcomes, where graduates have worked to turn ideas into real business solutions.</p>	
		</div>
		
	</div>

	<div class="para container" align="center">
		
	</div>


	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="panel">
					<div class="quiz">
					</div>
					<div class="panel-body">
						<p align="center"><strong>Quiz RT</strong></p>
						<p align="center">Quiz RT is a Real time Quiz game with different levels of Question</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel">
					<div class="tattva">
					</div>
					<div class="panel-body">
						<p align="center"><strong>Tattva</strong></p>
						<p align="center">Tattva enables construction of several market-facing solutions such as real-time logistics tracking.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel">
					<div class="tattva">
						
					</div>
					<div class="panel-body">
						<p align="center"><strong>Oxygen</strong></p>
						<p align="center">Oxygen is a real time search engine which allows you to search tools.</p>
					</div>
				</div>
			</div>


			<div class="col-md-4 col-sm-6">
				<div class="panel">
					<div class="tattva">

					</div>
					<div class="panel-body">
						<p align="center"><strong>Samarth</strong></p>
						<p align="center"> Samarth is a online job portal which acts as a bridge between job provider and job seeker.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel">
					<div class="tattva">

					</div>
					<div class="panel-body">
						<p align="center"><strong>AppFabric</strong></p>
						<p align="center"> App fabric is a application deployment protocol which automates the deployment of application. </p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-6">
				<div class="panel">
					<div class="tattva">

					</div>
					<div class="panel-body">
						<p align="center"><strong>Data Mill</strong></p>
						<p align="center">Data mill is a Real Time Data Generating application which gives you continous flow of data. </p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
