<div class="container">
  <h1 class="title">ACADEMY SHOWCASE</h1>
    <hr class="divider-title">
    <div class="row">
        <!-- <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2"> -->
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/showcase_img/coordinator.png">
                    <span class="actions">
                        <span class="project-details">Samarth-Coordinator</span>
                    </span>
                </figure>
            </div>
        </div>

        <!-- <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2"> -->
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/showcase_img/milldata.jpg">
                    <span class="actions">
                         <span class="project-details">Datamill</span>
                    </span>
                </figure>
            </div>
        </div>

        <!-- <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2"> -->
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/showcase_img/artquiz.jpg">
                    <span class="actions">
                        <span class="project-details">QuizART</span>
                    </span>
                </figure>
            </div>
        </div>


      <!-- <div class="row"> -->
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/showcase_img/tattvadata.jpg">
                    <span class="actions">
                        <span class="project-details">Tattva</span>
                    </span>
                </figure>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/showcase_img/fabricapp.png">
                    <span class="actions">
                        <span class="project-details">App Fabric</span>
                    </span>
                </figure>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="project">
                <figure class="img-responsive">
                    <img src="../../assets/showcase_img/skills.jpg">
                    <span class="actions">
                        <span class="project-details">Samarth-Skillprofile</span>
                    </span>
                </figure>
            </div>
        </div>

      </div>
</div>
