
<div class="back">
  <div class="case-study-gallery">

    <p class="introduction">
      At the Digital Academy, we nurture top quality digital product and service engineers. Here, learning happens by
      building and deploying real projects, to create unique product and service experiences. These experiences directly
      address the challenges and needs of our clients and consumers respectively, and this is core to the Digital Academy.
      These are some of our best outcomes, where graduates have worked to turn ideas into real business solutions.
    </p>

    <div class="row">
      <!-- <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"> -->
      <div class="col-sm-3 col-md-3">
        <div class="case-study study1">
          <div class="link-align">
            <p class="content-title">TATTVA</p>
          </div>
          <div class="case-study__overlay">
           <h2 class="case-study__title">Tattva</h2>
           <a routerLink="/tattva" routerLinkActive="active" class="case-study__link" href="#">View Project</a>
         </div>
       </div>
     </div>  <!--col-3 ends -->

     <!-- <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"> -->
     <div class="col-sm-3 col-md-3">
      <div class="case-study study2">
        <div class="link-align">
          <p class="content-title">QUIZART</p>
        </div>
        <div class="case-study__overlay">
         <h2 class="case-study__title">Quizart</h2>
         <a routerLink="/tattva" routerLinkActive="active" class="case-study__link" href="#">View Project</a>
       </div>
     </div>
   </div>  <!--col-3 ends -->

   <!-- <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"> -->
   <div class="col-sm-3 col-md-3">
    <div class="case-study study3">
      <div class="link-align">
        <p class="content-title">SAMARTH-COORDINATOR</p>
      </div>
      <div class="case-study__overlay">
       <h2 class="case-study__title">Samarth-Coordinator</h2>
       <a routerLink="/tattva" routerLinkActive="active" class="case-study__link" href="#">View Project</a>
     </div>
   </div>
 </div> <!--col-3 ends -->

 <!-- <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"> -->
 <div class="col-sm-3 col-md-3">
  <div class="case-study study4">
    <div class="link-align">
      <p class="content-title">SAMARTH-SKILLPROFILE</p>
    </div>
    <div class="case-study__overlay">
     <h2 class="case-study__title">Samarth-Skillprofile</h2>
     <a routerLink="/tattva" routerLinkActive="active" class="case-study__link" href="#">View Project</a>
   </div>
 </div>
</div>  <!--col-3 ends -->

</div> <!-- row ends -->

<div class="row">

  <!-- <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"> -->
  <div class="col-sm-3 col-md-3">
    <div class="case-study study5">
      <div class="link-align">
        <p class="content-title">APPFABRIC</p>
      </div>
      <div class="case-study__overlay">
       <h2 class="case-study__title">Appfabric</h2>
       <a routerLink="/tattva" routerLinkActive="active" class="case-study__link" href="#">View Project</a>
     </div>
   </div>
 </div>

 <!-- <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2"> -->
 <div class="col-sm-3 col-md-3">
  <div class="case-study study6">
    <div class="link-align">
      <p class="content-title">DATAMILL</p>
    </div>
    <div class="case-study__overlay">
     <h2 class="case-study__title">Datamill</h2>
     <a routerLink="/tattva" routerLinkActive="active" class="case-study__link" href="#">View Project</a>
   </div>
 </div>
</div>

</div> <!-- row ends -->

</div> <!-- case-study-gallery ends -->
</div> <!-- back ends -->

