
.navbar {
	background-color: #ffffff;
	/*background: transparent;*/
	border-style: none;
	border-color: #fff;
	box-shadow:  0 4px 8px 0 rgba(0,0,0,0.3);
}
.navbar-nav{
	padding:13px;
	line-height: 80px;
}

.navbar-brand{
	padding: 25px;
	height: 80px;
	line-height: 80px;
	overflow: hidden;
}
#menu {
	background: transparent;
	border: 0;
	padding-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}
#wiprologo {
	margin-top: -9%;
	width: 30%;
	border-right: solid #e2e2e2;
	border-right-width: 1px;
}
#digitallogo{
	margin-right: 8%;
}
.bar1 {
	margin: 25% 0%;
	transition: 0.3s;
}

.bar2 {
	margin: 25% 0%;
	transition: 0.3s;
}

.bar3 {
	margin: 25% 0%;
	transition: 0.3s;
}
#myNav>ul>li>a {
	font-family: 'Open Sans', sans-serif;
	font-size:110%;
	color:#000000;
	font-weight: bold;
}
