
    <!-- Page Heading -->
    <div class="programHeading">
       <span>Our Programs</span>  
    </div>
    <!-- Flex Container -->
    <div class="container flex-container">
      <!-- Flex-items -->
      <!--  card-1 for Immersive Program -->
        <div class="flex-item">
          <a href="#" >
              <!-- Background image -->
             <div class="backgroundImage1"></div>
             <div class="cardContentImmersive">
                <!-- Card Heading -->
               <h3 class="heading"> Immersive Program </h3>
                 <!-- Card content -->
               <!-- <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               </p> -->

               <div>
                 <img src= "../../../assets/programImages/angular-js-logo.png">
                 <img src= "../../../assets/programImages/reactLogo.png">
                 <img src= "../../../assets/programImages/mongoDB.png">
                 <img src= "../../../assets/programImages/node.png">
                 <img src= "../../../assets/programImages/HTML.png">
                 <img src= "../../../assets/programImages/javascript.png">
               </div>

               <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               </p>

             </div>

           </a>
        </div>

         <!-- card-2 for Hybrid Program -->
        <div class="flex-item">
          <a href="#" >
              <!-- Background image -->
             <div class="backgroundImage2"></div>
             <div class="cardContentHybrid">
                <!-- Card Heading -->
               <h3 class="heading"> Hybrid Program </h3>
                 <!-- Card content -->
               <!-- <p class="paragraph">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
               </p> -->

               <div>
                 <!-- <img src= "./images/angular-js-logo.png">
                 <img src= "./images/reactLogo.png">
                 <img src= "./images/mongoDB.png">
                 <img src= "./images/node.png"> -->
                 <img src= "../../../assets/programImages/HTML.png">
                 <img src= "../../../assets/programImages/javascript.png">
               </div>

               <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               </p>

             </div>

           </a>
        </div>

          <!-- Card-3 for Java Academy -->
        <div class="flex-item">
          <a href="#" >
              <!-- Background image -->
             <div class="backgroundImage3"></div>
             <div class="cardContentJavaAcademy">
                <!-- Card Heading -->
               <h3 class="heading"> Java Academy </h3>
                 <!-- Card content -->
               <!-- <p class="paragraph">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
               </p> -->

               <div>
                 <img src= "../../../assets/programImages/javaLogo.png">
                 <img src= "../../../assets/programImages/mySQLLogo.png">
                 <img src= "../../../assets/programImages/eclipseLogo.png">
                 <img src= "../../../assets/programImages/oracleLogo.png">
               </div>

               <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               </p>
             </div>

           </a>
        </div>

          <!-- Card-4 Spark & Scala -->
        <div class="flex-item">
          <a href="#" >
              <!-- Background image -->
             <div class="backgroundImage4"></div>
             <div class="cardContentSpark">
               <!--  Card Heading -->
               <h3 class="heading"> Spark and Scala </h3>
                 <!-- Card content -->
               <!-- <p class="paragraph">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
               </p> -->

               <div>
                 <img src= "../../../assets/programImages/angular-js-logo.png">
                 <img src= "../../../assets/programImages/mongoDB.png">
                 <img src= "../../../assets/programImages/HTML.png">
                 <img src= "../../../assets/programImages/javascript.png">
               </div>

               <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               </p>

             </div>

           </a>
           <!-- End of flex-items  -->
        </div>
      <!-- End of flex-container -->
    </div>
