
    <!-- Page Heading -->
    <div class="programHeading">
        Learning Solutions
    </div>

  <!-- Flex Container -->
    <div class="container flex-container">

      <!-- Flex-items -->
      <!--  card-1 for Immersive Program -->
        <div class="flex-item">
          <!-- <a href="#" > -->
          <a routerLink="/programs/fullStackProductEngineering" routerLinkActive="active">

              <!-- Background image -->
             <div class="backgroundImage1"></div>
             <div class="cardContentImmersive">
                <!-- Card Heading -->
               <p class="heading"> Full Stack Product Engineering (immersive) </p>
                <!-- Card content -->

               <div>
                 <img src= "../../../assets/programImages/angular-js-logo.png">
                 <img src= "../../../assets/programImages/reactLogo.png">
                 <img src= "../../../assets/programImages/mongoDB.png">
                 <img src= "../../../assets/programImages/node.png">
                 <img src= "../../../assets/programImages/webpack.png">
                  <!-- <img src= "../../../assets/programImages/javascript.png"> -->
               </div>

               <!-- <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               </p> -->

             </div>

           </a>
        </div>

         <!-- card-2 for Hybrid Program -->
        <div class="flex-item">
          <a routerLink="/programs/fullStackOnline" routerLinkActive="active">
              <!-- Background image -->
             <div class="backgroundImage2"></div>
             <div class="cardContentHybrid">
                <!-- Card Heading -->
               <h4 class="heading"> Full Stack Mastery (online) </h4>
                 <!-- Card content -->

               <div>
                 <!-- <img src= "./images/angular-js-logo.png">
                 <img src= "./images/reactLogo.png">-->
                 <img src= "./../../assets/programImages/mongoDB.png">
                 <img src= "./../../assets/programImages/node.png">
                 <img src= "../../../assets/programImages/HTML.png">
                 <img src= "../../../assets/programImages/javascript.png">
                 <img src= "../../../assets/programImages/angular-js-logo.png">
                 <img src= "../../../assets/programImages/jquery.gif">
                 <img src= "../../../assets/programImages/postmanLogo.png">

               </div>

               <!-- <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               </p> -->
             </div>

           </a>
        </div>

          <!-- Card-3 for Java Academy -->
        <div class="flex-item">
          <a routerLink="/programs/qualityEngineering" routerLinkActive="active">
              <!-- Background image -->
             <div class="backgroundImage3"></div>
             <div class="cardContentJavaAcademy">
                <!-- Card Heading -->
               <h4 class="heading"> QA and QE transformation (online) </h4>
                 <!-- Card content -->

               <div>
                 <img src= "../../../assets/programImages/javaLogo.png">
                 <img src= "../../../assets/programImages/mySQLLogo.png">
                 <img src= "../../../assets/programImages/eclipseLogo.png">
                 <img src= "../../../assets/programImages/oracleLogo.png">
                 <img src= "../../../assets/programImages/socketLogo.png">

               </div>

               <!-- <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               </p> -->
             </div>

           </a>
        </div>

          <!-- Card-4 Spark & Scala -->
        <div class="flex-item">
            <a routerLink="/programs/machineLearning" routerLinkActive="active">
              <!-- Background image -->
             <div class="backgroundImage4"></div>
             <div class="cardContentSpark">
               <!--  Card Heading -->
               <h4 class="heading"> Programming Machine Learning (immersive) </h4>
                 <!-- Card content -->

               <div>
                 <img src= "../../../assets/programImages/angular-js-logo.png">
                 <img src= "../../../assets/programImages/mongoDB.png">
                 <img src= "../../../assets/programImages/HTML.png">
                 <img src= "../../../assets/programImages/javascript.png">
                 <img src= "../../../assets/programImages/azure.png">
                 <img src= "../../../assets/programImages/tensorflow.png">

               </div>
<!--
               <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               </p> -->

             </div>

           </a>
           <!-- End of flex-items  -->
        </div>

        <!-- Card-4 Spark & Scala -->
      <div class="flex-item">
        <a routerLink="/programs/javaFullStack" routerLinkActive="active">

            <!-- Background image -->
           <div class="backgroundImage5"></div>
           <div class="cardContentSpark">
             <!--  Card Heading -->
             <h4 class="heading"> Java Full Stack </h4>
               <!-- Card content -->

             <div>
               <img src= "../../../assets/programImages/angular-js-logo.png">
               <img src= "../../../assets/programImages/bower.png">
               <img src= "../../../assets/programImages/mongoDB.png">
               <img src= "../../../assets/programImages/HTML.png">
               <img src= "../../../assets/programImages/javascript.png">
               <img src= "../../../assets/programImages/npm.png">

             </div>

             <!-- <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             </p> -->

           </div>

         </a>
         <!-- End of flex-items  -->
      </div>
      <!-- End of flex-container -->
    </div>

      <!-- Immersive and online Trainning -->
      <!-- <div class= "content">
          <div class="container flex-container-main">

            <div class="col-lg-6 flex-item-main">
              <h3> Immersive programs </h3>
              <div>
                are apprenticeship approach based on product development. Participants gain the experience of working on real product working in real environment and solve real non-trivial problems and learn from real practitioners.
              </div>
            </div>


            <div class="col-lg-6 flex-item-main">
              <h3> Online programs </h3>
                <div>
                  are also focused on experiential learning in an online model with expert mentors working with participants through the program. The learning is in an environment that combines the convenience of online and anytime access with the intensity of scheduled mentoring.
                </div>
              </div>

        </div>
      </div> -->
      <!-- End of digital and online trainning -->
