<div>
  <h2> QA to QE transformation (online) </h2>

  <div class="logos">
    <img src= "../../../assets/programImages/grunt.png">
    <img src= "../../../assets/programImages/ansible.jpg">
    <img src= "../../../assets/programImages/selenium.png">
    <img src= "../../../assets/programImages/ibm_bluemix.png">
    <img src= "../../../assets/programImages/maven.png">
    <img src= "../../../assets/programImages/python.png">

    <img src= "../../../assets/programImages/aix.png">
    <img src= "../../../assets/programImages/jenkins.png">
    <img src= "../../../assets/programImages/perfecto.png">
    <!-- <img src= "../../../assets/programImages/node.png">
    <img src= "../../../assets/programImages/HTML.png">
    <img src= "../../../assets/programImages/javascript.png"> -->
  </div>

  <div class="container fullStackContent">
    <div class="contentLeft">
      An online, part time program to transform manual QA professional into Quality Engineering / Automated testing experts.
    </div>

    <div class="flex-container-main">
      <div class="flex-item-main">
        <h3> Online programs </h3>
          <div>
            These programs are focused on experiential learning in an online model with expert mentors working with participants through the program. The learning is in an environment that combines the convenience of online and anytime access with the intensity of scheduled mentoring.
          </div>
        </div>
      </div>

    <div>
      <h3 class="techStackHeading"> Tech Stack </h3>

      <div class="container flex-container">

        <!-- Flex-items -->
        <!--  card-1 for Immersive Program -->
          <div class="flex-item">
            <h4 class= "flexItemHeading">  MEA/RN tech stacks </h4>
                <p>
                  The JavaScript full-stack : NodeJS, AngularJS or ReactJS, ExpressJS, Seneca, MongoDB, Cassandra, Redis and/or Neo4J
                </p>
          </div>
          <div class="flex-item">
            <h4 class= "flexItemHeading"> Java microservices + Angular/React </h4>
              <p>
                The Java microservices full-stack : Microservices built with Spring with JavaScript clients built using AngularJS or ReactJS with MongoDB, Cassandra, Redis and/or Neo4J
              </p>
          </div>
        </div>

    </div>


      <!-- <div class= "listDiv"> -->
        <ul class= "list">
          <li>
            <h4> Time </h4>
            <p> 14 or 23 weeks, Part time </p>
            <p> 12-15 hours per week </p>
          </li>
          <li>
            <h4> Suitable For </h4>
            <p> QA Resources in projects or in bench or in between projects </p>
          </li>
        </ul>
      <!-- </div> -->

  </div>
</div>
