

<!-- Side Nav -->
<div class="col-sm-12">

<div [style.left]=move class="sidebar-wrapper" id="sidebar-wrapper" (click)=toggle() on-mouseleave="toggle()">

	<div *ngIf=hideand class="col-sm-12 col-xs-12 ">
		<div class="col-sm-4 col-xs-4 avatar" >
			<img src="assets/navbar/person-flat.png" width="120%" alt="avatar" class="img-rounded">
		</div>
		<div class="col-sm-8 col-xs-8 profile-details">
			<span>Kishanlal B J</span>
			<span>352392</span>
		</div>
	</div>

<div [style.float]=float  *ngIf=!hideand  class="small-nav">
<li>
<a href="#">
	<!-- <span class="glyphicon glyphicon-user"></span> -->
	<img src="assets/navbar/person-flat.png" width="26"  alt="logo">
</a>
</li>
  <li>
		<a href="#"><span class="glyphicon glyphicon-dashboard"></span></a>
	</li>
	<li>
		<a href="#"><span class="glyphicon glyphicon-blackboard"></span></a>
	</li>

	<li>
	<a href="#">
		<span class="glyphicon glyphicon-picture"> </span>
	</a>
</li>

<li>
	<a href="#">
		<span class="glyphicon glyphicon-education"></span>

	</a>
</li>

<li>
	<a href="#">
		<span class="glyphicon glyphicon-briefcase"></span>
	</a>
</li>
</div>


	<div *ngIf=hideand  class="sidebar-nav">
		<li>
			<a href="#" >
			<span class="glyphicon glyphicon-dashboard"> 	Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-blackboard"> Programs</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-picture"> Gallery </span>

			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-education"> Graduates</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span class="glyphicon glyphicon-briefcase"> Products</span>
			</a>
		</li>
	</div>



</div>
</div>
