<div class="content">
<div class="container">
<!-- <div class="content-header">
  <h1>TATTVA</h1>
  <hr class="divider-title">
  </div> -->

  <div class="main-content row">

  <div class="col-sm-6 col-md-5 col-lg-5">
    <div class="content-header">
      <h1>TATTVA</h1>
      <hr>
    </div>
  <p>Tattva enables construction of several market-facing solutions such as real-time logistics tracking with
    sensor-based data, shop floor monitoring, clickstream analytics for ecommerce applications etc.
  </p>
</div>
<div class="col-sm-6 col-md-7 col-lg-7">
      <figure>
          <img src="../../assets/tattva_img/collage.jpg" class="img-responsive">
      </figure>
</div>
</div> <!-- row ends -->
</div> <!--container ends -->
</div> <!-- content ends -->

<div class="tech-content">
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4 content-material">
      <figure>
          <img src="../../assets/tattva_img/stack.jpg" class="img-responsive img-circle">
      </figure>
    </div>
  <div class="col-sm-6 col-md-8 col-lg-8">
    <h2>Technologies</h2>
    <hr>
    <p>Tattva is build on the MERN stack i.e MongoDB, Express.JS, React.JS and Node.JS. The front end involves
    the usage of HTML 5, CSS 3 and Semantic UI.</p>
  </div>

</div> <!-- row ends -->

<div class="row content-tattva">
  <div class="col-sm-6 col-md-6 content-mentor">
    <h2>Collaborators</h2>
    <p>In publishing and graphic design, lorem ipsum is a filler text or greeking commonly used to demonstrate the textual
      elements of a graphic document or visual presentation or greeking commonly used.
      </p>
       <hr>
    <h2>Mentors</h2>
    <p>In publishing and graphic design, lorem ipsum is a filler text or greeking commonly used to demonstrate the textual
      elements of a graphic document or visual presentation.In publishing and graphic design, lorem ipsum is a filler text
    </p>
  </div>
  <div class="col-sm-6 col-md-6">
    <figure>
        <img src="../../assets/tattva_img/collage.jpg" class="img-responsive">
    </figure>
    <h3 class="quote">Committment and Deliverance</h3>
  </div>
</div> <!-- row ends -->

  <div>
    <hr>
  <h1>"Every once in a while, a new technology, an old problem, and a big idea turn into an innovation"</h1>
</div>
</div> <!--container ends -->
</div> <!-- tech-content ends -->
