* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*margin: 0;
  padding: 0;*/
}
.main-content{
  margin-top: 90px;
}

hr{
  background-color: #b8b9bc;
  height: 1px;
  border: 0;
}
.content-header{
    text-align: center;
}

.tech-content h2{
  text-align: center;
}

.content-material{
  /*position: relative;*/

  /*border: 1px solid #fff;*/
  /*margin: 2%;*/
  /*overflow: hidden;*/
  /*border-radius: 300px;*/
  /*width: 540px;*/
}

.content-material img{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content-material:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.content-tattva{
  padding: 5%;
}

.quote{
  text-align: center;
}

.content-mentor{
  border-right: 1px solid #b8b9bc;
  height: 300px;
}

/*.tech-img{
   border-radius: 10px;
}*/

/*.tech-content{
  background-color: #beecf7;
}*/

/*.content{
  background-image: url("../../assets/tattva_img/background.jpg");
  background-size: cover;
}*/

/*@media screen and (min-width: 768px) {
    .content-material{
        padding: 5%;
        margin-top: 90px;
    }
}*/
