<!-- 
<video width="100%" autoplay loop muted>
	<source src="assets/Fat_to_fit.mp4" type="video/mp4">
	</video> -->

	<!-- <div class="custom-message">
		<div align="center">
			<h1 id="hero">Digital Academy</h1>
			<h3 class="sub-header">Building Digital Engineers for the future</h3>
		</div>	
	</div> -->


	<div class="bg-color">

		<div class="parallax" style="margin-top:80px">
			<div class="display-content" align="center">
				<h1 id="hero">Digital Academy</h1>
				<h3 class="sub-header">Building Digital Engineers for the future</h3>
			</div>
		</div>

		<div class="container" >
			<div class="col-sm-12 col-md-12" >
				<p class="para" align="center">
					Wipro’s Digital arm launched the ‘Digital Academy’ in September 2015, to build a strong team of digital engineers for the future. The Academy aims to nurture excellent technologists and programmers who have the ability to completely build and release substantial internet scale applications.
				</p>
			</div>
		</div>
		<div class="container">
			<div>
				<div class="col-md-4 col-sm-4">
					<img class="avatar" src="assets/navbar/person-flat.png">
				</div>

				<div class="col-md-8 col-sm-8">
					<p class="para">
						Digital Academy, is powered by a vision to 
						create “Excellent Programmers” who 
						have the ability to completely build and
						release substantial applications.
						It provides a platform to upskill and, transform an individual,
						by building multi-dimensional perspective that includes Entrepreneurship,
						Design thinking, Performance, and support differential thinking..
					</p>
					<div class="about" align="right">
						<p>Reynold Alex</p>
						<p>General Manager and Delivery Head,Digital</p>
					</div>
				</div>
			</div>

			<hr>

			<div>
				<div class="col-md-4 col-sm-4">
					<img class="avatar" src="assets/navbar/person-flat.png">
				</div>

				<div class="col-md-8 col-sm-8">
					<p class="para">
						Digital Academy is the medium to energise & up skill our 
						workforce to be Digitally relevant and prepare the future multi-specialsed 
						smart engineers. Digital demands the end-to-end thinking including focussing on 
						Design, Engineering, Quality and well-orchasrated output. 
						Academy is to be seen not as a barrier but a break away to the bright future..
					</p>
					<div class="about" align="right">
						<p>Madhusudhan Murthy</p>
						<p>General manager and head of global delivery, Digital</p>
					</div>
				</div>
			</div>

			<hr>

			<div>
				<div class="col-md-4 col-sm-4">
					<img class="avatar" src="assets/navbar/person-flat.png">
				</div>

				<div class="col-md-8 col-sm-8">
					<p class="para">
						Global head of Engineering, Digital",
						saying:`Digital demands a more adaptive skill set, 
						one that extends beyond the silo-ed specialisms that 
						we have been used to. It requires us to be customer and 
						design-led but with an ability to scale at the enterprise 
						level. It goes beyond the tradition of following a pre-determined 
						instruction set and being instruction-led. To that end we have a 
						vision that the Academy will begin to create a cadre of engineering 
						talent that can be relevant to the current client needs, 
						and set a new emergent hybrid engineer.
					</p>
					<div class="about" align="right">
						<p>Rory McKenna</p>
						<p>Global head of Engineering, Digital</p>
					</div>
				</div>
			</div>
		</div>
	</div>