.home {
	margin-top:70px;
	background-color: green;
	max-height: 50%;
}


.parallax { 
	margin-top: 70px;
	z-index:1;

	/* The image used */
	background-image: url("../../assets/hero.jpg");

	/* Set a specific height */
	height: 700px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

video {
	position:relative;
	z-index:-1;
	/*margin-top: 70px;*/
}

#hero {
	font-family: 'Ubuntu', sans-serif;
	
	font-weight:bolder;
	font-size: 500%;
}
.sub-header {
	font-family: 'Ubuntu', sans-serif;

	font-size: 300%;
}

.display-content {
	padding-top: 15%;
	color:#fff;
}
.custom-message {
	position:relative;
	color:#fff;
	z-index:1;
	top: -500px;    
}
.intro {
	padding-top: 2%;
}

.para {
	padding: 5%;
	font-family: 'Open Sans', sans-serif;
	font-size: 150%;
}
.about {
	margin-top: -7%;
	font-size: 120%;
	font-weight: bold;

}
.individual {
	padding-top: 3%;
}

.avatar{
	width: 70%;
}
hr {

	margin-top: 22%;

}
@media only screen and (max-width: 768px) {
	.avatar{
		display:block;
		margin:0 auto;
		/*width: 70%;*/

	}
}

.panel {
	border:none;
	border-radius: none;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
	padding:0%;
	min-height: 30%;
	max-height: 40%;
}
.panel:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.testimony {
	font-size:120%;
	margin-top:2%;
}
.bg-color {
	/*background-color: #dae8de;*/
}
/*@media only screen and (min-width: 768px) {
	.avatar{
		margin-top: 10%;

	}
	}*/



