
<div class="row register-wrapper">

  <div class="parallax">
    <div class="display-content" align="center">
      <h1 id="hero">Join Our Academy</h1>

        <div class="dropdown sub-header">
            <button class="btn btn-custom dropdown-toggle" type="button" data-toggle="dropdown">Register
              <span class="caret"></span>
            </button>
            <a href="https://www.hackerearth.com/docs/wiki/developers/judge/">
              <button type="button" name="button" class="btn btn-custom">Digithon-Guide</button>
            </a>

              <ul class="dropdown-menu" style="margin-left:38%">
                  <li><a href="#">10:00 AM</a></li>
                  <li><a href="#">12:30 PM</a></li>
                  <li><a href="#">15:00 PM</a></li>
              </ul>
            </div>

    </div>
  </div>


	<div class="container register-details">

    <div class="col-md-12 col-sm-12" align="center" >
      <p class="para">
        The academy has the significant impact on the 'cadets', not just in terms of
        working on the right projects and career progression, but also arming them with
        necessary skills to take on a future that span all areas of internet scale applications:
         from front-end technologies to database, development automation and provisioning.
         An academy graduate epitomizes excellence in programming assosiated with best product
          engineering companies.</p>
    </div>
    <div class="" style="padding-top:20%">
      <div class="col-md-6 col-sm-6" align="center" >
  			<p class="para">
          Journey to the Digital Academy  starts with the 'Digi-thon', a specially
          designed  challenge to unlesh people's coding DNA. Those who qualify become
          'cadets', and are enrolled in a rigourous training programs to upskill competencies
          and stay on the edge with the latest technologies, best practices and principles.</p>
  		</div>

  		<div class="col-md-6 col-sm-6" align="center">
  			<p class="para">
  				The curricullum at the academy is the combination of programming languages,
          technology and disipine. It also goes beyond traditional training programs to
          foster principles of enterpreneurship, design thinking and performance.
  			</p>
  		</div>

    </div>


  </div>




	</div>
